# compiled pyfiles
*.pyc
*.pyo

# default sqlite db
db.sqlite3

# intellij
.idea/

# Vagrant
.vagrant/
Vagrantfile

# content files
content/

# we want these to be tracked eventually, but as long as we're
# developing the data model they'll just add commit noise
*/migrations/*.py
