# -*- mode: ruby -*-
# vi: set ft=ruby :

VAGRANTFILE_API_VERSION = "2"

Vagrant.configure(VAGRANTFILE_API_VERSION) do |config|
 config.vm.box = "fedora/23-cloud-base"
 config.vm.synced_folder "..", "/home/vagrant/devel", type: "nfs"

 if Vagrant.has_plugin?("vagrant-hostmanager")
     config.hostmanager.enabled = true
     config.hostmanager.manage_host = true
 end

 # Create the "dev" box
 config.vm.define "relpulp" do |dev|
    dev.vm.host_name = "relpulp.example.com"

    dev.vm.provider :libvirt do |domain|
        domain.cpus = 2
        domain.graphics_type = "spice"
        domain.memory = 2048
        domain.video_type = "qxl"
    end

    # bootstrap and run with ansible
    dev.vm.provision "ansible" do |ansible|
         ansible.playbook = "./ansible/vagrant-dev.yml"
         ansible.verbose = true
    end
 end
end
